<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="layout_1/LTR/default/full/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="global_assets/js/main/jquery.min.js"></script>
    <script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="global_assets/js/plugins/pickers/daterangepicker.js"></script>

    <script src="layout_1/LTR/default/full/assets/js/app.js"></script>
    <script src="global_assets/js/demo_pages/dashboard.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/sparklines.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/lines.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/areas.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/donuts.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/bars.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/progress.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/pies.js"></script>
    <script src="global_assets/js/demo_charts/pages/dashboard/light/bullets.js"></script>
    <script src="global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="global_assets/js/demo_pages/datatables_basic.js"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-dark navbar-static">
        <div class="d-flex flex-1 d-lg-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-paragraph-justify3"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-transmission"></i>
            </button>
        </div>

        <div class="navbar-brand text-center text-lg-left">
            <a href="index.html" class="d-inline-block">
                <img src="global_assets/images/logo_light.png" class="d-none d-sm-block" alt="">
                <img src="global_assets/images/logo_icon_light.png" class="d-sm-none" alt="">
            </a>
        </div>

        <div class="collapse navbar-collapse order-2 order-lg-1" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link" data-toggle="dropdown">
                        <i class="icon-git-compare"></i>
                        <span class="d-lg-none ml-3">Git updates</span>
                        <span class="badge badge-warning badge-pill ml-auto ml-lg-0">9</span>
                    </a>

                    <div class="dropdown-menu dropdown-content wmin-lg-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Git updates</span>
                            <a href="#" class="text-body"><i class="icon-sync"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#"
                                            class="btn bg-transparent border-primary text-primary rounded-pill border-2 btn-icon"><i
                                                class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="text-muted font-size-sm">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#"
                                            class="btn bg-transparent border-warning text-warning rounded-pill border-2 btn-icon"><i
                                                class="icon-git-commit"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Add full font overrides for popovers and tooltips
                                        <div class="text-muted font-size-sm">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#"
                                            class="btn bg-transparent border-info text-info rounded-pill border-2 btn-icon"><i
                                                class="icon-git-branch"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span
                                            class="font-weight-semibold">Design</span> branch
                                        <div class="text-muted font-size-sm">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#"
                                            class="btn bg-transparent border-success text-success rounded-pill border-2 btn-icon"><i
                                                class="icon-git-merge"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Eugene Kopyov</a> merged <span
                                            class="font-weight-semibold">Master</span> and <span
                                            class="font-weight-semibold">Dev</span> branches
                                        <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#"
                                            class="btn bg-transparent border-primary text-primary rounded-pill border-2 btn-icon"><i
                                                class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Have Carousel ignore keyboard events
                                        <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-body mr-auto">All updates</a>
                            <div>
                                <a href="#" class="text-body" data-popup="tooltip" title="Mark all as read"><i
                                        class="icon-radio-unchecked"></i></a>
                                <a href="#" class="text-body ml-2" data-popup="tooltip" title="Bug tracker"><i
                                        class="icon-bug2"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <span class="badge badge-success my-3 my-lg-0 ml-lg-3">Online</span>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="d-lg-none ml-3">Messages</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-300">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Users online</span>
                            <a href="#" class="text-body"><i class="icon-search4 font-size-base"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="global_assets/images/placeholders/placeholder.jpg" width="36"
                                            height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                                        <span class="d-block text-muted font-size-sm">Lead web developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span
                                            class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="global_assets/images/placeholders/placeholder.jpg" width="36"
                                            height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                                        <span class="d-block text-muted font-size-sm">Marketing manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span
                                            class="badge badge-mark border-danger"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="global_assets/images/placeholders/placeholder.jpg" width="36"
                                            height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
                                        <span class="d-block text-muted font-size-sm">Project manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span
                                            class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="global_assets/images/placeholders/placeholder.jpg" width="36"
                                            height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
                                        <span class="d-block text-muted font-size-sm">Business developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span
                                            class="badge badge-mark border-warning"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="global_assets/images/placeholders/placeholder.jpg" width="36"
                                            height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
                                        <span class="d-block text-muted font-size-sm">UX expert</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span
                                            class="badge badge-mark border-secondary"></span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-body mr-auto">All users</a>
                            <a href="#" class="text-body"><i class="icon-gear"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">
            <li class="nav-item nav-item-dropdown-lg dropdown">
                <a href="#" class="navbar-nav-link navbar-nav-link-toggler" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="badge badge-warning badge-pill ml-auto ml-lg-0">2</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350">
                    <div class="dropdown-content-header">
                        <span class="font-weight-semibold">Messages</span>
                        <a href="#" class="text-body"><i class="icon-compose"></i></a>
                    </div>

                    <div class="dropdown-content-body dropdown-scrollable">
                        <ul class="media-list">
                            <li class="media">
                                <div class="mr-3 position-relative">
                                    <img src="global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
                                        class="rounded-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="#">
                                            <span class="font-weight-semibold">James Alexander</span>
                                            <span class="text-muted float-right font-size-sm">04:58</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">who knows, maybe that would be the best thing for
                                        me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3 position-relative">
                                    <img src="global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
                                        class="rounded-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="#">
                                            <span class="font-weight-semibold">Margo Baker</span>
                                            <span class="text-muted float-right font-size-sm">12:16</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
                                        class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="#">
                                            <span class="font-weight-semibold">Jeremy Victorino</span>
                                            <span class="text-muted float-right font-size-sm">22:48</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">But that would be extremely strained and
                                        suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
                                        class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="#">
                                            <span class="font-weight-semibold">Beatrix Diaz</span>
                                            <span class="text-muted float-right font-size-sm">Tue</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
                                        class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="#">
                                            <span class="font-weight-semibold">Richard Vango</span>
                                            <span class="text-muted float-right font-size-sm">Mon</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown-content-footer justify-content-center p-0">
                        <a href="#" class="btn btn-light btn-block border-0 rounded-top-0" data-popup="tooltip"
                            title="Load more"><i class="icon-menu7"></i></a>
                    </div>
                </div>
            </li>

            <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
                <a href="#"
                    class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100"
                    data-toggle="dropdown">
                    <img src="global_assets/images/placeholders/placeholder.jpg" class="rounded-pill mr-lg-2"
                        height="34" alt="">
                    <span class="d-none d-lg-inline-block"><%= username %></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/hrProfile" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                    <a href="/hrlogout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- /main navbar -->


    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-section sidebar-user my-1">
                    <div class="sidebar-section-body">
                        <div class="media">
                            <a href="#" class="mr-3">
                                <img src="global_assets/images/placeholders/placeholder.jpg" class="rounded-circle"
                                    alt="">
                            </a>

                            <div class="media-body">
                                <div class="font-weight-semibold"><%= username %></div>
                                <div class="font-size-sm line-height-sm opacity-50">
                                    Senior developer
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                <button type="button"
                                    class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                    <i class="icon-transmission"></i>
                                </button>

                                <button type="button"
                                    class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                                    <i class="icon-cross2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header">
                            <div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu"
                                title="Main"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/hrDashboard" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="nav-item"><a href="/createInterview" class="nav-link"><i class="icon-pencil6"></i>
                                <span>Create Interview</span></a></li>
                        <li class="nav-item"><a href="/product" class="nav-link"><i class="icon-pencil6"></i>
                                <span>Choose Product</span></a></li>
                        <li class="nav-item"><a href="/scheduledInterview" class="nav-link"><i class="icon-pencil6"></i>
                                <span>Scheduled Interview</span></a></li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Profile</span></a>

                            <ul class="nav nav-group-sub">
                                <li class="nav-item"><a href="/companyProfile" class="nav-link"><span>Company's
                                            Profile</span></a></li>
                                <li class="nav-item"><a href="/subHrProfiles" class="nav-link"><span>Sub-Hr</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="/selectedTopic" class="nav-link"><i class="icon-pencil6"></i>
                                <span>Purchased Products</span></a></li>
                        <!-- /main -->

                    </ul>
                </div>
            </div>
        </div>
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">
                <!-- Content area -->
                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Upcoming Interviews</h5>
                        </div>

                        <!-- <div class="card-body">
                            The default page control (forward and backward buttons with up to 7 page numbers in-between)
                            is fine for most situations, but in some cases you may wish to customise the options
                            presented to the end user. This is done through DataTables' extensible pagination mechanism,
                            the <code>pagingType</code> option. Supported pagination types are: <code>simple</code>,
                            <code>simple_numbers</code>, <code>full</code> and <code>full_numbers</code>. This example
                            shows <code>simple</code> pagination type.
                        </div> -->

                        <table class="table datatable-pagination">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Student Id</th>
                                    <th>Round Number</th>
                                    <th>Position</th>
                                    <th>Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<interviewData.length;i++) {%>
                                <tr>
                                    <td><%=interviewData[i].studentName%></td>
                                    <td><%=interviewData[i].studentId%></td>
                                    <td><%=interviewData[i].roundNumber%></td>
                                    <td><%=interviewData[i].position%></td>
                                    <td><span class="badge badge-success">Active</span></td>
                                    <!-- <td><span class="badge badge-secondary">Inactive</span></td> -->
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i>
                                                        Join Interview</a>
                                                    <!-- <a href="/displayRealTime?uniqueId=<%=interviewData[i].uniqueId%>"
                                                            class="dropdown-item"><i
                                                                class="icon-file-excel"></i>
                                                            Check status(FeedBack Form)</a> -->
                                                        <button type="button" class="btn btn-link"
                                                            onclick="getData('<%=interviewData[i].uniqueId%>')"
                                                            data-toggle="modal" data-target="#modal_scrollable">FeedBack
                                                            Form<i class=""></i></button>
                                                        <br>
                                                        <button type="button" class="btn btn-link"
                                                            onclick="callURL('<%=interviewData[i].uniqueId%>')">Detail FeedBack
                                                            Form<i class=""></i></button>
                                                        <br>
                                                        <button type="button" class="btn btn-link"
                                                        onclick="cancelInterview('<%=interviewData[i].uniqueId%>')"
                                                        data-toggle="modal" data-target="#modal_default">Cancel Intervview<i class=""></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <%} %>
                                <div id="modal_default" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Cancel Interview</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
            
                                            <div class="modal-body">
                                                <!-- <h6 class="font-weight-semibold">Text in a modal</h6> -->
                                                
                                                <p id="cancel_info"></p>
                                            </div>
            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                                <button type="button" id="cancel_button" data-dismiss="modal" class="btn btn-primary">Cancel Interview</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal_scrollable" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header pb-3">
                                                <h5 class="modal-title">Scrollable modal</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <div class="modal-body py-0">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 id="stdName" class="card-title"></h5>
                                                        <h6 id="roleHead" class="card-title"></h6>
                                                    </div>
                                                    <div id="tableDiv" class="table-responsive">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer pt-3">
                                                <button type="button" class="btn btn-link"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <tr>
                                    <td>Marth</td>
                                    <td><a href="#">Enright</a></td>
                                    <td>Traffic Court Referee</td>
                                    <td>22 Jun 1972</td>
                                    <td><span class="badge badge-success">Active</span></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i>
                                                        Export to .pdf</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>
                                                        Export to .csv</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-word"></i>
                                                        Export to .doc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>   -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<!-- it didnt work for rendering the page  -->
<!-- <script>
    function detailFeedbackId(uniqueId) {
        console.log(uniqueId);
        console.log('inside');
        $.get(`/displayDetailFeedback?uniqueId=${uniqueId}`, {

        }, function (data, status) {
            console.log(status);
        });
    }
</script> -->   



<script>
    function callURL(uniqueId) {
        console.log(uniqueId);
      window.location.href = `/displayDetailFeedback?uniqueId=${uniqueId}`;
    }
    function cancelled(uniqueId,status){
        console.log(uniqueId);
        console.log(status);
        $.post('/interviewCancelled',
         { 
            uniqueId:uniqueId,
            payment:status
        });
    }
    function cancelInterview(uniqueId){
        console.log(uniqueId);
        
           fetch(`/cancelInterview?uniqueId=${uniqueId}`)
            .then(response => response.text())
            .then(data => {
                const cancel_info=document.getElementById("cancel_info");
                const cancel_button=document.getElementById("cancel_button");
                console.log(data); // Output: Hello, world!
                if(data=="f"){
                    cancel_button.setAttribute("onClick",`cancelled('${uniqueId}','full')`);
                    cancel_info.innerHTML=`<p>Your are cancelling this Interview after 12 hours from the time it was scheduled. You will still be charged with full payment</p>
                    Do you want to continue?
                    
                    `;
                }
                else if(data=="h"){
                    cancel_button.setAttribute("onClick",`cancelled('${uniqueId}','half')`);
                    cancel_info.innerHTML=`<p>Your are cancelling this Interview after 5 hours from the time it was scheduled. You will still be charged with half payment</p>
                    Do you want to continue?
                    
                    `;
                }
                else{
                    cancel_button.setAttribute("onClick",`cancelled('${uniqueId}','none')`);
                    cancel_info.innerHTML=`<p>Your are cancelling this Interview within 2 hours from the time it was scheduled. You will not be charged for this interview</p>
                    Do you want to continue?
                    
                    `;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
  </script>
<script>
    function getData(uniqueId) {
        console.log(uniqueId);
        // `` this is important to send value along with the route '' this will not do the job   and for varible use ${} otherwise for string directly write the strings
        fetch(`/displayRealTime?uniqueId=${uniqueId}`)
            .then(response => response.json())
            .then(data => {
                // Store the received data in a variable
                const receivedData = data;

                // Use the data to display something in your EJS file
                // For example, update a div's content with the receivedData
                console.log(data);
                const head = document.getElementById('stdName');
                head.textContent = data.name + "'s Interview";
                const headRole = document.getElementById('roleHead');
                headRole.textContent = "Role: " + data.role;
                const tableDiv = document.getElementById('tableDiv');
                tableDiv.innerHTML = "";
                const table = document.createElement("table");

                table.innerHTML += `<thead>
									<tr>
										
										<th>Field</th>
										<th>Data</th>
										
									</tr>
								</thead>`;
                table.setAttribute("class", "table");
                table.innerHTML += `
                <tbody>
                                    <tr>
                                        <th>Coding Language</th>
                                        <th>${data.codingLanguage}</th>
                                    </tr>
                                    <tr>
                                        <th>Communication</th>
                                        <th>${data.communication}</th>
                                    </tr>
                                    <tr class="table-border-solid">
                                        <th>Coding Speed</th>
                                        <th>${data.codingSpeed}</th>
                                    </tr>
                                    <tr>
                                        <th>Thinking Speed</th>
                                        <th>${data.thinkingSpeed}</th>
                                    </tr>
                                    <tr>
                                        <th>Code Quality</th>
                                        <th>${data.codeQuality}</th>
                                    </tr>
                                    <tr>
                                        <th>Concentration</th>
                                        <th>${data.concentration}</th>
                                    </tr>
                                    <tr class="table-border-solid">
                                        <th>OS</th>
                                        <th>${data.os}</th>
                                    </tr>
                                    <tr>
                                        <th>DBMS</th>
                                        <th>${data.dbms}</th>
                                    </tr>

                                    <tr>
                                        <th>Data Structure</th>
                                        <th>${data.dataStructure}</th>
                                    </tr>
                                    <tr>
                                        <th>Algorithm</th>
                                        <th>${data.algorithm}</th>
                                    </tr>
                                    <tr class="table-border-solid">
                                        <th>Apptitude</th>
                                        <th>${data.apptitude}</th>
                                    </tr>
                                    <tr>
                                        <th>Personality And Behaviour</th>
                                        <th>${data.personalityAndBehaviour}</th>
                                    </tr>
                                    <tr>
                                        <th>Project And Resume</th>
                                        <th>${data.projectAndResume}</th>
                                    </tr>
                                    <tr class="table-border-solid">
                                        <th>Overall Analysis</th>
                                        <th>${data.overallAnalysis}</th>
                                    </tr>
                                    <tr>
                                        <th>Average Rating</th>
                                        <th>${data.averageRating}</th>
                                    </tr>

                                </tbody>
                `;
                tableDiv.appendChild(table);

            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>